@import '../../partials.module';

.wrapper {
  @include wrapper;

  .navbar {
    position: sticky;
    top: 100px;

    @include mobile {
      position: static;
      top: unset;
    }

    .absolute {
      position: absolute;

      @include mobile {
        position: static;
      }
    }

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

      li {
        &.active {
          font-weight: 600;
        }

        a {
          text-decoration: none;
          border-left: 3px solid #ff7e03;
          display: block;
          padding-left: 0.5em;
          color: #000000;
        }
      }
    }
  }

  .main {
    max-width: 515px;
    margin: auto;

    h1 {
      display: inline;
      scroll-margin-top: 100px;
      border-bottom: 3px solid #ff7d03;
    }

    .sections {
      .section {
        margin-bottom: 3em;
        border-bottom: 3px dashed #bbb;
        padding-bottom: 3em;

        &:last-child {
          border-bottom: none;
        }

        .muted {
          color: #999;
        }

        .methodAndPath,
        .examples {
          font-weight: 500;
        }

        h3 {
          font-weight: 600;
          font-size: 1em;
        }

        .tableWrapper {
          border-radius: 6px;
          border: 1px solid #bbb;
          overflow: hidden;

          .table {
            border-collapse: collapse;

            tr {
              vertical-align: baseline;

              &:last-child {
                td {
                  border-bottom: none;
                }
              }

              td {
                border-right: 1px solid #bbb;
                border-bottom: 1px solid #bbb;
                padding: 0.5em;

                &:last-child {
                  border-right: none;
                }
              }
            }
          }
        }

        code.bash {
          background: #eee;
          padding: 0.25em;

          &:before {
            content: '$';
            margin-right: 0.25em;
            color: #777;
          }
        }
      }
    }
  }
}
