@import '../../partials.module';

@keyframes arrow {
  0% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper {
  @include wrapper;

  .header {
    @include header;
  }

  .sections {
    .section {
      max-width: 515px;
      margin: auto;
      margin-bottom: 10em;
      min-height: 100vh;

      &:first-child {
        min-height: calc(100vh - 4em - 2em - 2em - 10em - 110px);
      }

      &:last-child {
        min-height: 50vh;

        @include mobile {
          margin-bottom: 1em;
        }
      }

      h2 {
        font-weight: 500;
        font-size: 1.2em;
      }

      .code {
        margin: 0px -1em;
        border: 3px solid #000000;
        box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        padding: 1em;
        margin-bottom: 4em;

        @include mobile {
          margin: 0px 0px 4em;
          min-width: calc(100vw - 2em);
          overflow: auto;
        }

        .comment {
          color: #777;
        }

        .string {
          color: #ff7e03;
        }
      }

      .footnote {
        border-left: 5px solid #d8d8d8;
        padding-left: 1em;
        font-size: 0.85em;
        text-decoration: none;
        color: inherit;
        display: block;
      }

      .logos {
        display: flex;
        align-items: center;

        @include mobile {
          flex-direction: column;
        }

        img {
          margin-right: 2em;

          @include mobile {
            margin-right: 0px;
            margin-bottom: 2em;
          }
        }
      }
    }

    .arrow {
      animation: arrow 1s ease-out;
      animation-delay: 2s;
      animation-fill-mode: both;
      transform: translateY(-20px);
      width: 30px;
      color: #777;
      display: block;
      margin: auto;
      transition: opacity 0.25s ease-out;
      pointer-events: none;
    }
  }

  .footer {
    @include footer;
  }
}
