@import '../../partials.module';

.wrapper {
  @include wrapper;

  .header {
    @include header;
  }

  .sections {
    .section {
      max-width: 515px;
      margin: auto;
      margin-bottom: 3em;
      border-bottom: 3px dashed #bbb;
      padding-bottom: 3em;

      &:last-child {
        border-bottom: none;
      }

      .muted {
        color: #999;
      }

      .methodAndPath {
        font-weight: 500;
      }

      h3 {
        font-weight: 600;
        font-size: 1em;
      }

      .tableWrapper {
        border-radius: 6px;
        border: 1px solid #bbb;
        overflow: hidden;

        .table {
          border-collapse: collapse;

          tr {
            vertical-align: baseline;

            &:last-child {
              td {
                border-bottom: none;
              }
            }

            td {
              border-right: 1px solid #bbb;
              border-bottom: 1px solid #bbb;
              padding: 0.5em;

              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }

      // .code {
      //   margin: 0px -1em;
      //   border: 3px solid #000000;
      //   box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.5);
      //   border-radius: 7px;
      //   padding: 1em;
      //   margin-bottom: 4em;

      //   @include mobile {
      //     margin: 0px 0px 4em;
      //     min-width: calc(100vw - 2em);
      //     overflow: auto;
      //   }

      //   .comment {
      //     color: #777;
      //   }

      //   .string {
      //     color: #ff7e03;
      //   }
      // }
    }
  }

  .footer {
    @include footer;
  }
}
